{% extends "layout/base.html" %}

{% block title %} Fiche Contact {% endblock %}

{% block content %}
    <div class="container">
        <div class="col">
            <div class="jumbotron mt-4">
                <h1 class="display-4">MELISSA TESSIER</h1>
                <hr class="my-4">
                <p class="lead"><strong>Email : </strong> tessiermelissa94@gmail.com</p>
                <p class="lead"><strong>Téléphone : </strong> 0690.93.19.94</p>
            </div>
        </div>
    </div>
{% endblock %}